<form [formGroup]="form" class="form" >
    <header>
        <div class="form-header">
            <h1>Medication Order Form</h1>
            <span matBadge="Unsaved Changes" matBadgeColor="warn" matBadgeSize="medium"
                [matBadgeHidden]="!showUnsavedBadge">
            </span>

        </div>
        <div>
            <p class="sub-title">PatientId: {{form.get('patientInfo.patientId')?.value || 'N/A'}} |
               Order Date:{{form.get('patientInfo.orderDate')?.value?(form.get('patientInfo.orderDate')?.value | date:'short'):'N/A'}} </p>
        </div>
    </header>
    <mat-card>
        <mat-card-title>Patient Info</mat-card-title>
        <mat-card-content formGroupName="patientInfo">
            <mat-form-field appearance="outline">
                <mat-label>Patient Id</mat-label>
                <input matInput formControlName="patientId" appFormDirective>
                @if(isValid(form,'patientInfo.patientId')){
                <mat-icon matSuffix>check_circle</mat-icon>
                }
                @if(errorMessage(form,'patientInfo.patientId'); as error){
                <mat-error>{{error}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Order Date</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="orderDate" appFormDirective>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if(isValid(form,'patientInfo.orderDate')){
                <mat-icon matSuffix>check_circle</mat-icon>
                }
                @if(errorMessage(form,'patientInfo.orderDate'); as error){
                <mat-error>{{error}}</mat-error>
                }
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Prescribing Info</mat-card-title>
        <mat-card-content formGroupName="prescribingInfo">
            <mat-form-field appearance="outline">
                <mat-label>Physician</mat-label>
                <mat-select formControlName="physicians" appFormDirective>
                    @for (physician of physicians; track physician) {
                    <mat-option [value]="physician">{{physician}}</mat-option>
                    }
                </mat-select>
                @if(isValid(form,'prescribingInfo.physicians')){
                <mat-icon matSuffix>check_circle</mat-icon>
                }
                @if(errorMessage(form,'prescribingInfo.physicians'); as error){
                <mat-error>{{error}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Therapy Type</mat-label>
                <mat-select formControlName="therapyType" appFormDirective>
                    @for (therapyType of therapyTypes; track therapyType) {
                    <mat-option [value]="therapyType">{{therapyType}}</mat-option>
                    }
                </mat-select>
                @if(isValid(form,'prescribingInfo.therapyType')){
                <mat-icon matSuffix>check_circle</mat-icon>
                }
                @if(errorMessage(form,'prescribingInfo.therapyType'); as error){
                <mat-error>{{error}}</mat-error>
                }
            </mat-form-field>
            @if (form.get('prescribingInfo.therapyType')?.value === "Chemotherapy") {
            <mat-form-field appearance="outline">
                <mat-label>Diagnosis</mat-label>
                <input matInput formControlName="diagnosis" appFormDirective>
                @if(isValid(form,'prescribingInfo.diagnosis')){
                <mat-icon matSuffix>check_circle</mat-icon>
                }
                @if(errorMessage(form,'prescribingInfo.diagnosis'); as error){
                <mat-error>{{error}}</mat-error>
                }
            </mat-form-field>
            }
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Medications</mat-card-title>
        <mat-card-content>
            <p>Medication added {{medications.length}}/10</p>
            @if (form.controls.medications.errors?.['duplicateDrug']) {
            <p class="error-message">
                Drug {{ form.controls.medications.errors?.['duplicateDrug']?.drugName }} is selected more than once.
            </p>
            }
            <div formArrayName="medications">
                @for (medication of medications.controls; track $index; let i=$index) {
                <app-medication-card [group]="medication" [index]="i" (remove)="removeMedication($event)"
                    [totalMedication]="medications.length">
                </app-medication-card>
                }
            </div><br>
            <button mat-raised-button color="primary" type="button" (click)="addMedication()"
                [disabled]="medications.length ===10 || form.invalid">Add Medication</button>
        </mat-card-content>
    </mat-card>
    <footer>
        <button mat-raised-button color="accent" type="button" (click)="submitForm()"
            [disabled]="form.invalid">Submit</button>
        <button mat-raised-button color="accent" type="button" (click)="saveDraft()">Save Draft</button>
        <button mat-raised-button color="accent" type="button" (click)="restoreDraft()">Restore Draft</button>
        <button mat-raised-button color="accent" type="button" (click)="toggleViewMode()">Toggle View Mode</button>
        <button mat-raised-button color="accent" type="button" (click)="clearAll()">Clear All</button>
        <button mat-raised-button color="accent" type="button" (click)="discardChanges()"
            [disabled]="!form.dirty">Discard
            Changes</button>
        @if(lastSaved){
        <p>Last Saved:{{ lastSaved | date:'shortTime'}}</p>
        }
        <!-- <button mat-raised-button color="accent" type="button"  (click)="editMode()">Edit Mode</button>
    <button mat-raised-button color="accent" type="button" (click)="duplicateMode()">Duplicate Mode</button> -->
    </footer>

</form>
